.heading {
  font-weight: 700;
}

.home {
  color: #2c2c2c;
}

.container {
  padding: 1rem;
}

.content {
  margin-top: 54px;
  animation: fadeIn .7s ease;
}

.home img {
  display: block;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Loving Food */
.lovingFood {
  border-radius: .5rem;
  overflow: hidden;
}

.lovingFoodName {
  --radius: .5rem;
  margin: 0;
  color: white;
  background-color: var(--primary-color);
  padding: .5rem 1rem;
  text-align: center;
  border-radius: .5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Trending */
.horizontalScroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
}

.trendingItemWrapper {
  padding: 0 .5rem;
  scroll-snap-align: start;
  min-width: 160px;
  max-width: 100%;
}

.trendingItemContent {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  object-position: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.trendingItemContent span {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  text-transform: capitalize;
}