.controlBar {
  padding: 4px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: .8rem;
  font-weight: 600;
  background-color: white;
  z-index: 100;
}

.controlItem {
  padding: 12px;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  transition: all .3s ease;
  width: 150px;
}

.itemIcon {
  font-size: inherit;
  transition: color .3s ease, transform .5s ease;
}


.controlItem.active,
.controlItem.active .itemIcon {
  color: var(--primary-color);
}

.controlItem.active .itemIcon {
  transform: scale(1.3);
}