.searchBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-bottom: 1rem;
  animation: searchBarSlideDown .7s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.searchInput {
  font-weight: 600;
  text-align: center;
  border: 3px solid var(--text-color);
  font-size: .8rem;
}

.searchIcon,
.timesIcon {
  position: absolute;
  color: var(--text-color);
  background-color: white;
  border-radius: 50%;
}

.searchIcon {
  top: 22px;
  left: 20px;
  font-size: 24px;
}

.timesIcon {
  top: 25px;
  right: 20px;
  font-size: 18px;
}

@keyframes searchBarSlideDown {
  from {
    top: -50%;
    opacity: 0;
  }
}